---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import myImage from "@/assets/fra.jpeg";
import { indonesia, china, japan, southKorea, usa } from "@/assets/countries";
import { ArrowUpRight } from "lucide-react";

const languages = [
  { name: "Indonesian", flag: indonesia },
  { name: "English", flag: usa },
  { name: "Japanese", flag: japan },
  { name: "Korean", flag: southKorea },
  { name: "Chinese", flag: china },
];

const technologies = [
  { name: "Typescript / Javascript" },
  { name: "React" },
  { name: "React Native / Expo" },
  { name: "Next.js" },
  { name: "Phyton" },
  { name: "Tanstack Query" },
  { name: "Node.js" },
  { name: "Express" },
  { name: "Webpack" },
  { name: "GCP" },
  { name: "Xcode / Android Studio" },
  { name: "Docker" },
  { name: "MySQL" },
  { name: "PostgreSQL" },
  { name: "MongoDB" },
  { name: "Figma" },
  { name: "Astro" },
  { name: "Prisma" },
  { name: "Firebase" },
  { name: "Storybook" },
  { name: "GSAP" },
  { name: "Svelte / Sveltekit" },
  { name: "Jest / Vitest" },
  { name: "Cypress" },
  { name: "Playwright" },
];

const inspirations = [
  { name: "The Primeagen", link: "https://www.youtube.com/@ThePrimeagen" },
  { name: "Pirate Software", link: "https://www.youtube.com/@PirateSoftware" },
  { name: "t3.gg", link: "https://www.youtube.com/@t3dotgg" },
  { name: "Dan Abramov", link: "https://overreacted.io/" },
  { name: "Kent C. Dodds", link: "https://www.youtube.com/@KentCDodds-vids/videos" },
  { name: "Brian Holt", link: "https://www.linkedin.com/in/btholt/" },
  {
    name: "Learn with Jason",
    link: "https://www.youtube.com/@learnwithjason",
  },
];
---

<Layout>
  <main class="mx-auto w-11/12 max-w-5xl items-start gap-4 pt-32">
    <div
      class="group max-w-max rounded-md p-2 shadow-sm ring-1 ring-slate-300 max-sm:mx-auto max-sm:mb-8 sm:float-right sm:ml-8">
      <Image
        src={myImage}
        alt="fazza razaq amiarso"
        loading="eager"
        class="max-w-72 rotate-3 rounded-md transition-transform group-hover:rotate-0 max-sm:w-44"
      />
    </div>
    <div class="space-y-8">
      <section>
        <h1 class="scroll-m-20 leading-tight">
          <section>Hi there 👋,</section>
          <div>I'm Fazza.</div>
        </h1>
        <div
          class="scroll-m-20 font-syne text-h5 leading-snug tracking-tight text-slate-500 sm:text-h4">
          A Fullstack-able Frontend Software Engineer from Indonesia
        </div>
      </section>
      <section>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          I love building stuff on the web because I can freely express my Idea. It’s like having
          your own tiny space that show you exist in this world. Sharing knowledge and opinion,
          build useful application, craft stunning visual experience, make new friends and
          connections.
        </p>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          I help other developer grows through various means, such as mentoring, facilitating, and
          teaching. I made most of my network and connections from participating as facilitator in
          scholarship programs.
        </p>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          Currently focusing on building experience across platform such as web and mobile
          development.
        </p>
      </section>
      <section class="max-w-xl">
        <h2 class="mb-4 scroll-m-20 text-xl font-semibold tracking-tight">
          Some technologies I've worked with
        </h2>
        <ul class="flex flex-wrap gap-3">
          {
            technologies.map((tech) => {
              return (
                <li class="rounded-full px-3 py-1 text-sm text-slate-600 ring-1 ring-orange-300">
                  {tech.name}
                </li>
              );
            })
          }
        </ul>
      </section>
      <section class="pt-6">
        <h2 class="scroll-m-20 text-xl font-semibold tracking-tight">Languages I speak</h2>
        <p class="mb-6 leading-7 [&:not(:first-child)]:mt-3">
          Since I was a child, I’m fascinated by the power that languages hold to connect with
          people simply by speaking a person’s native language. I also believe that understanding
          the culture can open the door to people’s heart. It motivated me to learn and understand
          different language and culture.
        </p>
        <ul class="flex flex-wrap gap-4">
          {
            languages.map((lang) => {
              return (
                <li class="flex items-center rounded-full text-small text-slate-700 ring-1 ring-slate-200">
                  <Image src={lang.flag} alt={lang.name} loading="eager" class="size-8" />
                  <span class="px-2">{lang.name}</span>
                </li>
              );
            })
          }
        </ul>
      </section>
      <section class="pt-6">
        <h2 class="scroll-m-20 text-xl font-semibold tracking-tight">
          Inspirations and favorite people
        </h2>
        <p class="mb-6 leading-7 [&:not(:first-child)]:mt-3">
          Along the way on my journey on software engineering, I've found that having people to look
          up to has given me a motivation to keep continue despite my hardships. These are the
          people that had inspired me
        </p>
        <ul class="flex flex-col gap-4">
          {
            inspirations.map((item) => {
              return (
                <li class="w-max">
                  <a
                    href={item.link}
                    target="_blank"
                    class="text-slate-00 group flex items-center transition-colors hover:text-slate-600">
                    {item.name}{" "}
                    <ArrowUpRight
                      width={18}
                      className="text-orange-500 group-hover:rotate-45 transition-transform"
                    />
                  </a>
                </li>
              );
            })
          }
        </ul>
      </section>
    </div>
  </main>
</Layout>
