---
import { buttonVariants } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";
import Layout from "@/layouts/Layout.astro";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";
import { ArrowUpRight } from "lucide-react";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/project-card.astro";

const openSourceProjects = await getCollection("oss");
const projects = await getCollection("project", ({ data }: any) => data.featured);
---

<Layout title="Fazza Amiarso" description="A personal website">
  <main class="mx-auto w-11/12 max-w-5xl space-y-20 pt-10">
    <section class="space-y-4 py-20">
      <div class="text-5xl leading-tight">
        <div>Hi, I'm Fazza</div>
        <div>A frontend developer and mentor. I help other developers grow.</div>
      </div>
      <ul class="flex items-center gap-4">
        <li>
          <a
            class={buttonVariants({ variant: "ghost", size: "icon" })}
            target="_blank"
            href="https://www.linkedin.com/in/fazzaamiarso/"
            ><LinkedInLogoIcon className="h-6 w-6" /></a
          >
        </li>
        <li>
          <a
            class={buttonVariants({ variant: "ghost", size: "icon" })}
            target="_blank"
            href="https://github.com/fazzaamiarso"><GitHubLogoIcon className="h-6 w-6" /></a
          >
        </li>
      </ul>
      <div>
        I'm currently a Mentor at <a
          href="https://www.dicoding.com/mentoring"
          target="_blank"
          rel="noreferrer"
          class="font-semibold underline hover:no-underline">
          Dicoding Indonesia</a
        >
      </div>
    </section>
    <section>
      <h2 class="mb-8 text-4xl font-bold">Featured Projects</h2>
      <ul class="grid gap-4 md:grid-cols-2">
        {
          projects.map((project: any) => {
            return (
              <li>
                <ProjectCard
                  {...project.data}
                  slug={`/project/${project.slug}`}
                  thumbnail={project.data.cover}
                  projectUrl={project.data.siteUrl}
                />
              </li>
            );
          })
        }
        <li class="content-center sm:justify-self-center">
          <a href="/project">See more projects</a>
        </li>
      </ul>
    </section>
    <section class="space-y-8">
      <div>
        <h2 class="text-4xl font-bold">OPEN SOURCE</h2>
        <p class="text-2xl">
          Some of my contributions in the wild as a means of learning and meeting new people
        </p>
      </div>
      <ul class="divide-y-2">
        {
          openSourceProjects.map((project: any) => {
            return (
              <li class="flex justify-between py-4">
                <a href={project.data.url} target="_blank" class="group flex items-center text-xl">
                  {project.data.name}{" "}
                  <ArrowUpRight className="group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform" />{" "}
                </a>
                <div class="flex items-center gap-2">
                  {project.data.tech.map((t: any) => (
                    <Badge className="rounded-md">{t}</Badge>
                  ))}
                </div>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>
