---
import { buttonVariants } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";
import Layout from "@/layouts/Layout.astro";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";
import { ArrowUpRight } from "lucide-react";
import { Card, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";

const openSourceProjects = [
  {
    name: "Astro Reactive Library",
    tech: ["Astro", "Typescript"],
    url: "https://github.com/astro-reactive/astro-reactive",
  },
  {
    name: "Juno",
    tech: ["React", "Typescript"],
    url: "https://github.com/Elysium-Labs-EU/juno-core",
  },
  {
    name: "Icon Shelf",
    tech: ["React", "Typescript", "Electron"],
    url: "https://github.com/Icon-Shelf/icon-shelf",
  },
];

// TODO: should be data from 'content collection'
const projects = [
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
  {
    thumbnail: "https://i.imgur.com/S2cqkro.png",
    title: "Invoys",
    description:
      "About Open source and self-hostable invoice management app built with Next.js. Made to be free of cost.",
    slug: "#",
    siteUrl: "#",
  },
];
---

<Layout title="Fazza Amiarso" description="A personal website">
  <main class="mx-auto w-11/12 max-w-5xl space-y-20 pt-20">
    <section class="space-y-4">
      <div class="text-5xl leading-tight">
        <div>Hi, I'm Fazza</div>
        <div>A frontend developer and mentor. I help other developers grow.</div>
      </div>
      <ul class="flex items-center gap-4">
        <li>
          <a
            class={buttonVariants({ variant: "ghost", size: "icon" })}
            target="_blank"
            href="https://www.linkedin.com/in/fazzaamiarso/"
            ><LinkedInLogoIcon className="h-6 w-6" /></a
          >
        </li>
        <li>
          <a
            class={buttonVariants({ variant: "ghost", size: "icon" })}
            target="_blank"
            href="https://github.com/fazzaamiarso"><GitHubLogoIcon className="h-6 w-6" /></a
          >
        </li>
      </ul>
      <div>
        I'm currently a Mentor at <a
          href="https://www.dicoding.com/mentoring"
          target="_blank"
          rel="noreferrer"
          class="font-semibold underline hover:no-underline">
          Dicoding Indonesia</a
        >
      </div>
    </section>
    <section>
      <ul class="grid gap-4 sm:grid-cols-2">
        {
          projects.map((project) => {
            return (
              <li>
                <Card>
                  <CardHeader>
                    <div class="flex items-center gap-4 ">
                      <div class="flex h-20 w-20 items-center justify-center">
                        <Image
                          src={project.thumbnail}
                          alt={project.title}
                          width={100}
                          height={100}
                          class="rounded-md"
                        />
                      </div>
                      <div>
                        <CardTitle className="mb-1">{project.title}</CardTitle>
                        <CardDescription>[some description]</CardDescription>
                      </div>
                    </div>
                    <CardDescription>{project.description}</CardDescription>
                  </CardHeader>
                  <CardFooter className="flex w-full space-x-4">
                    <a
                      class={cn(buttonVariants({ variant: "default" }), "w-full")}
                      href={project.slug}>
                      Explore
                    </a>
                    <a
                      class={cn(
                        buttonVariants({ variant: "ghost" }),
                        "w-full",
                        project.siteUrl.startsWith("#") &&
                          "bg pointer-events-none cursor-default text-neutral-500"
                      )}
                      href={project.siteUrl}>
                      Visit site
                      <ArrowUpRight className="h-4 w-4" />
                    </a>
                  </CardFooter>
                </Card>
              </li>
            );
          })
        }
      </ul>
    </section>
    <section class="space-y-8">
      <div>
        <h2 class="text-4xl font-bold">OPEN SOURCE</h2>
        <p class="text-2xl">
          Some of my contributions in the wild as a means of learning and meeting new people
        </p>
      </div>
      <ul class="divide-y-2">
        {
          openSourceProjects.map((project) => {
            return (
              <li class="flex justify-between py-4">
                <a href={project.url} target="_blank" class="group flex items-center text-xl">
                  {project.name}{" "}
                  <ArrowUpRight className="group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform" />{" "}
                </a>
                <div class="flex items-center gap-2">
                  {project.tech.map((t) => (
                    <Badge className="rounded-md">{t}</Badge>
                  ))}
                </div>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>
