---
import { buttonVariants } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";

const workData = {
  facilitating: [
    {
      role: "React.js Intermediate Facilitator",
      program: "IDCamp 2023",
      description: ``,
      slug: undefined,
    },
    {
      role: "Frontend Basic and Beginner Facilitator",
      program: "DBS Foundation Coding Camp 2024",
      description: ``,
      slug: undefined,
    },
  ],
  mentoring: [
    {
      role: "Dedicated Mentor",
      program: "Dicoding Indonesia",
      description: ``,
      slug: undefined,
    },
    {
      role: "React.js Capstone Project Advisor",
      program: "MSIB Kampus Merdeka X Dicoding Indonesia Cycle 6",
      description: ``,
      slug: undefined,
    },
    {
      role: "Frontend Capstone Project Advisor",
      program: "MSIB Kampus Merdeka X Dicoding Indonesia Cycle 5",
      description: ``,
      slug: undefined,
    },
    {
      role: "Frontend Capstone Project Advisor",
      program: "MSIB Kampus Merdeka X Dicoding Indonesia Cycle 4",
      description: ``,
      slug: undefined,
    },
  ],
  teaching: [
    {
      role: "React.js Instructor",
      program: "MSIB Kampus Merdeka X Dicoding Indonesia Cycle 6",
      description: ``,
      slug: undefined,
    },
  ],
};
---

<Layout>
  <main class="mx-auto w-11/12 max-w-5xl space-y-20 pt-20">
    <section>
      <h2 class="pb-2 text-3xl font-semibold tracking-tight first:mt-0">Works</h2>
      <p class="leading-7">What I've been working on to that contributed to the real world</p>
      <Separator className="mt-2" />
    </section>
    <section class="items-start gap-20 pl-4 md:flex md:border-l-[1px]">
      <h3 class="mb-8 font-bold">Teaching</h3>
      <ul class="space-y-12">
        {
          workData.teaching.map((item) => {
            return (
              <li class="space-y-2">
                <div class="border-l-2 pl-2 text-sm">{item.program}</div>
                <h3 class="font-bold">{item.role}</h3>
                <p>{item.description}</p>
                {item.slug && (
                  <a href={item.slug} class={cn(buttonVariants({ variant: "ghost" }))}>
                    Read article
                  </a>
                )}
              </li>
            );
          })
        }
      </ul>
    </section>
    <section class="items-start gap-20 pl-4 md:flex md:border-l-[1px]">
      <h3 class="mb-8 font-bold">Facilitating</h3>
      <ul class="space-y-12">
        {
          workData.facilitating.map((item) => {
            return (
              <li class="space-y-2">
                <div class="border-l-2 pl-2 text-sm">{item.program}</div>
                <h3 class="font-bold">{item.role}</h3>
                <p>{item.description}</p>
                {item.slug && (
                  <a href={item.slug} class={cn(buttonVariants({ variant: "ghost" }))}>
                    Read article
                  </a>
                )}
              </li>
            );
          })
        }
      </ul>
    </section>
    <section class="items-start gap-20 pl-4 md:flex md:border-l-[1px]">
      <h3 class="mb-8 font-bold">Mentoring</h3>
      <ul class="space-y-12">
        {
          workData.mentoring.map((item) => {
            return (
              <li class="space-y-2">
                <div class="border-l-2 pl-2 text-sm">{item.program}</div>
                <h3 class="font-bold">{item.role}</h3>
                <p>{item.description}</p>
                {item.slug && (
                  <a href={item.slug} class={cn(buttonVariants({ variant: "ghost" }))}>
                    Read article
                  </a>
                )}
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>
