---
import { buttonVariants } from "@/components/ui/button";
import MenuButton from "./menu-button";
import Logo from "@/assets/fz-logo.svg";
import { Image } from "astro:assets";

const navigation = [
  { text: "Home", slug: "/" },
  { text: "Project", slug: "/project" },
  { text: "About", slug: "/about" },
];

const currentRoute = Astro.url.pathname.split("/")[1];
---

<header class="fixed top-0 z-50 w-full rounded-md bg-white transition-transform">
  <div class="mx-auto flex w-11/12 max-w-5xl items-center justify-between py-4">
    <h1 class="sr-only">Fazza Amiarso</h1>
    <a href="/">
      <span class="sr-only">Go to home</span>
      <Image src={Logo} alt="" width="50" loading="eager" />
    </a>
    {/* MOBILE START */}
    <MenuButton client:load>
      <ul class="w-full space-y-4">
        {
          navigation.map((nav) => {
            return (
              <li class="text-center">
                <a href={nav.slug} class:list={[buttonVariants({ variant: "ghost" }), "w-full"]}>
                  {nav.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </MenuButton>
    {/* MOBILE END */}
    {/* DESKTOP START */}
    <nav class="hidden sm:block">
      <ul class="flex items-center gap-2">
        {
          navigation.map((nav) => {
            const isActive = currentRoute === nav.slug.slice(1);
            return (
              <li>
                <a
                  href={nav.slug}
                  class:list={[
                    buttonVariants({ variant: isActive ? "secondary" : "ghost" }),
                    isActive ? "text-slate-800" : "text-slate-500",
                    "transition-colors",
                  ]}>
                  {nav.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
    {/* DESKTOP END */}
  </div>
</header>

<script>
  import throttle from "lodash.throttle";

  let prevScroll = window.scrollY;

  const scrollHandler = () => {
    const currScroll = window.scrollY;

    if (prevScroll < currScroll) {
      document.querySelector("header")!.style.transform = "translateY(-100%)";
    } else {
      document.querySelector("header")!.style.transform = "translateY(0)";
    }

    prevScroll = currScroll;
  };

  window.addEventListener("scroll", throttle(scrollHandler, 500));
</script>
