---
import { Card } from "./ui/card";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type ProjectCollection = CollectionEntry<"project">["data"];

interface Props extends ProjectCollection {
  slug: string;
}

const project = Astro.props;

const year = project.publishedDate.getFullYear();
const type = project.type.charAt(0).toUpperCase() + project.type.slice(1);
---

<Card
  className="relative flex h-full flex-col gap-3 bg-white p-8 transition-colors hover:bg-slate-50">
  <div class="size-16 overflow-hidden rounded-full bg-slate-100">
    {
      project.thumbnail && (
        <Image
          src={project.thumbnail}
          alt=""
          width={300}
          height={300}
          loading="eager"
          class="bg-cover"
        />
      )
    }
  </div>
  <div class="text-small text-slate-600">
    <span class="font-semibold">{year}</span> / <span>{type}</span>
  </div>
  <h3 class="text-h5">
    <a href={project.slug} class="before:absolute before:inset-0 before:z-10">
      {project.name}
    </a>
  </h3>
  <p class="line-clamp-3">{project.description}</p>
</Card>
