---
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  description: string;
}

const navigation = [
  { text: "Home", slug: "/" },
  { text: "Work", slug: "/work" },
  { text: "About", slug: "/about" },
];

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-50">
    <header class="mx-auto flex w-11/12 items-center justify-between py-4">
      <h1 class="text-3xl font-bold">Fazza Amiarso</h1>
      <nav>
        <ul class="flex items-center gap-2">
          {
            navigation.map((nav) => {
              return (
                <li>
                  <a href={nav.slug} class={cn(buttonVariants({ variant: "ghost" }))}>
                    {nav.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </nav>
    </header>
    <slot />
    <footer class="py-12"></footer>
  </body>
</html>
