---
import Footer from "@/components/footer.astro";

import "@/styles/globals.css";
import * as config from "@/site-config";
import WarningBanner from "@/components/warning-banner.astro";
import Header from "@/components/header.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = config.siteTitle, description = config.siteDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Open Graph START -->
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={config.siteTitleBase} />
    <meta property="og:url" content={`https://${config.siteDomain}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={config.ogImageUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={config.ogImageAlt} />
    <!-- Open Graph END  -->
    <!-- Twitter card START -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={config.siteDomain} />
    <meta property="twitter:url" content={`https://${config.siteDomain}`} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={config.ogImageUrl} />
    <meta name="twitter:creator" content={config.twitterHandle} />
    <!-- Twitter card END -->
    <!-- Favicon START -->
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <!-- Favicon END  -->
  </head>
  <body class="bg-slate-100">
    <WarningBanner />
    <div class="mx-auto max-w-5xl bg-slate-50 ring-1 ring-slate-200 sm:w-11/12">
      <Header />
      <slot />
      <div class="flex w-full justify-center gap-12 pt-12">
        <svg
          class="w-16"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 800 400"
          ><path
            d="M68.26347351074219,186.8263397216797C105.99600863138835,182.10977592468262,170.654694035848,193.65669123331705,231.13772583007812,166.46707153320312C291.6207576243083,139.2774518330892,298.8223501586914,66.40918039957683,329.34130859375,69.46107482910156C359.8602670288086,72.5129692586263,335.40716598510744,181.02794161478678,362.8742370605469,179.64071655273438C390.3413081359863,178.25349149068197,417.10779551188153,64.3053894297282,447.9042053222656,63.473052978515625C478.7006151326497,62.64071652730306,471.3932176208496,174.10578189849855,495.8083801269531,176.0478973388672C520.2235426330567,177.99001277923583,526.3812135314942,71.57883725484213,553.2933959960938,71.85628509521484C580.2055784606933,72.13373293558756,567.3074067179361,145.89421726226806,611.97607421875,177.24551391601562C656.6447417195639,208.5968105697632,715.033941040039,200.24949785868327,746.1077880859375,207.1856231689453"
            fill="none"
            stroke-width="15"
            stroke='url("#SvgjsLinearGradient1003")'
            stroke-linecap="round"
            stroke-dasharray="0 0"></path><defs
            ><linearGradient id="SvgjsLinearGradient1003"
              ><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop
                stop-color="hsl(316, 73%, 52%)"
                offset="1"></stop></linearGradient
            ></defs
          ></svg
        >
        <svg
          class="w-16"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 800 400"
          ><path
            d="M68.26347351074219,186.8263397216797C105.99600863138835,182.10977592468262,170.654694035848,193.65669123331705,231.13772583007812,166.46707153320312C291.6207576243083,139.2774518330892,298.8223501586914,66.40918039957683,329.34130859375,69.46107482910156C359.8602670288086,72.5129692586263,335.40716598510744,181.02794161478678,362.8742370605469,179.64071655273438C390.3413081359863,178.25349149068197,417.10779551188153,64.3053894297282,447.9042053222656,63.473052978515625C478.7006151326497,62.64071652730306,471.3932176208496,174.10578189849855,495.8083801269531,176.0478973388672C520.2235426330567,177.99001277923583,526.3812135314942,71.57883725484213,553.2933959960938,71.85628509521484C580.2055784606933,72.13373293558756,567.3074067179361,145.89421726226806,611.97607421875,177.24551391601562C656.6447417195639,208.5968105697632,715.033941040039,200.24949785868327,746.1077880859375,207.1856231689453"
            fill="none"
            stroke-width="15"
            stroke='url("#SvgjsLinearGradient1003")'
            stroke-linecap="round"
            stroke-dasharray="0 0"></path><defs
            ><linearGradient id="SvgjsLinearGradient1003"
              ><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop
                stop-color="hsl(316, 73%, 52%)"
                offset="1"></stop></linearGradient
            ></defs
          ></svg
        >
        <svg
          class="w-16"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 800 400"
          ><path
            d="M68.26347351074219,186.8263397216797C105.99600863138835,182.10977592468262,170.654694035848,193.65669123331705,231.13772583007812,166.46707153320312C291.6207576243083,139.2774518330892,298.8223501586914,66.40918039957683,329.34130859375,69.46107482910156C359.8602670288086,72.5129692586263,335.40716598510744,181.02794161478678,362.8742370605469,179.64071655273438C390.3413081359863,178.25349149068197,417.10779551188153,64.3053894297282,447.9042053222656,63.473052978515625C478.7006151326497,62.64071652730306,471.3932176208496,174.10578189849855,495.8083801269531,176.0478973388672C520.2235426330567,177.99001277923583,526.3812135314942,71.57883725484213,553.2933959960938,71.85628509521484C580.2055784606933,72.13373293558756,567.3074067179361,145.89421726226806,611.97607421875,177.24551391601562C656.6447417195639,208.5968105697632,715.033941040039,200.24949785868327,746.1077880859375,207.1856231689453"
            fill="none"
            stroke-width="15"
            stroke='url("#SvgjsLinearGradient1003")'
            stroke-linecap="round"
            stroke-dasharray="0 0"></path><defs
            ><linearGradient id="SvgjsLinearGradient1003"
              ><stop stop-color="hsl(37, 99%, 67%)" offset="0"></stop><stop
                stop-color="hsl(316, 73%, 52%)"
                offset="1"></stop></linearGradient
            ></defs
          ></svg
        >
      </div>

      <Footer />
    </div>
  </body>
</html>
